<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--Specifies fully qualified path to the directory where logs would be placed-->
    <add key="LogDir" value="C:\Flowfinity\Log\" />
    <!--Specifies log file prefix-->
    <add key="LogPrefix" value="render.processor" />
    <!--Specifies free space threshold. If disk free space falls below specified threshold logging will stop. After free space reaches above threshold - logging will be resumed-->
    <add key="FreeSpaceThresholdMB" value="1024" />
    <!--Specifies number of days after which log file is deleted-->
    <add key="LogStoreInterval" value="30" />
    <!--Specifies maximum log file size in megabytes. After the threshold is reached new file with index suffix is created for the same day. By default threshold is turned off-->
    <add key="LogFileSizeThresholdMB" value="" />
    <!--Specifies connection string name to be used for Actions database access-->
    <add key="ConnectionStringName" value="FFDB" />
    <!--Specifies sql command timeout in seconds-->
    <add key="DbCommandTimeout" value="360" />
    
    <add key="wsdl_url" value="http://srvvanweb2:8102/fa/integration/Public"/>
    
    <add key="wsdl_user" value="flow"/>
    <add key="wsdl_password" value="flow"/>
    
    <add key="OnBehlfOf" value="kylewowk"/>
    
    <add key="ReadOnly" value ="true"/>
 
  </appSettings>
  <connectionStrings>
    <add name="FFDB" connectionString="server=srvvansql4;Initial Catalog=flowserv_flowfinityapps;user id=sa;password=Centra2009" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
    <services>
      <service name="CalendarSystem.data">
        <endpoint binding="webHttpBinding" contract="CalendarSystem.Idata" behaviorConfiguration="web"></endpoint>
      </service>
    </services>
  </system.serviceModel>
</configuration>