<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="BasicHttpBinding_IIntegration">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IServiceCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IPlantProductionCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IMaterialsInformationCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IBackOrderCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IEstimationCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_ITimesheetCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IHomeInstallationsCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IManufacturerTrackingCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IInventoryManagerCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_ISupplyOnlyCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IWindowsItemTrackerCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IJobSiteReviewCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IInstallationTrackingCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_ICHIPurchaseOrderCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_IServiceReviewCalloutService">
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
                <binding name="BasicHttpBinding_ITruckDictionaryCalloutService">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'http://flowfinity.com/ServiceContract':    -->
                    <!--    <wsdl:binding name='BasicHttpBinding_ITruckDictionaryCalloutService'>    -->
                    <!--        <wspe:Utf816FFFECharacterEncoding xmlns:wspe="http://schemas.xmlsoap.org/ws/2004/09/policy/encoding">..</wspe:Utf816FFFECharacterEncoding>    -->
                    <textMessageEncoding messageVersion="Soap11" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IBackOrderCalloutService"
                contract="FASR.IBackOrderCalloutService" name="BasicHttpBinding_IBackOrderCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IEstimationCalloutService"
                contract="FASR.IEstimationCalloutService" name="BasicHttpBinding_IEstimationCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_ITimesheetCalloutService"
                contract="FASR.ITimesheetCalloutService" name="BasicHttpBinding_ITimesheetCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IPlantProductionCalloutService"
                contract="FASR.IPlantProductionCalloutService" name="BasicHttpBinding_IPlantProductionCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IServiceCalloutService"
                contract="FASR.IServiceCalloutService" name="BasicHttpBinding_IServiceCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IHomeInstallationsCalloutService"
                contract="FASR.IHomeInstallationsCalloutService" name="BasicHttpBinding_IHomeInstallationsCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IManufacturerTrackingCalloutService"
                contract="FASR.IManufacturerTrackingCalloutService" name="BasicHttpBinding_IManufacturerTrackingCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IMaterialsInformationCalloutService"
                contract="FASR.IMaterialsInformationCalloutService" name="BasicHttpBinding_IMaterialsInformationCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_ITruckDictionaryCalloutService"
                contract="FASR.ITruckDictionaryCalloutService" name="BasicHttpBinding_ITruckDictionaryCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IInventoryManagerCalloutService"
                contract="FASR.IInventoryManagerCalloutService" name="BasicHttpBinding_IInventoryManagerCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_ISupplyOnlyCalloutService"
                contract="FASR.ISupplyOnlyCalloutService" name="BasicHttpBinding_ISupplyOnlyCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IIntegration"
                contract="FASR.IIntegration" name="BasicHttpBinding_IIntegration" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IWindowsItemTrackerCalloutService"
                contract="FASR.IWindowsItemTrackerCalloutService" name="BasicHttpBinding_IWindowsItemTrackerCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IJobSiteReviewCalloutService"
                contract="FASR.IJobSiteReviewCalloutService" name="BasicHttpBinding_IJobSiteReviewCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IInstallationTrackingCalloutService"
                contract="FASR.IInstallationTrackingCalloutService" name="BasicHttpBinding_IInstallationTrackingCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_ICHIPurchaseOrderCalloutService"
                contract="FASR.ICHIPurchaseOrderCalloutService" name="BasicHttpBinding_ICHIPurchaseOrderCalloutService" />
            <endpoint address="http://srvvanweb2:8102/fa/integration/Public"
                binding="customBinding" bindingConfiguration="BasicHttpBinding_IServiceReviewCalloutService"
                contract="FASR.IServiceReviewCalloutService" name="BasicHttpBinding_IServiceReviewCalloutService" />
        </client>
    </system.serviceModel>
</configuration>